<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars</title>
</head>
<table>
    <thead>
    <tr>
        <th> Model </th>
        <th> MaxSpeed </th>
        <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${messages.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="mes : ${messages}">
        <td><span th:text="${mes.getModel()}"></span></td>
        <td><span th:text="${mes.getMaxSpeed()}"></span></td>
        <td><span th:text="${mes.getPrice()}"></span></td>
    </tr>
    </tbody>
</table>
</div>
</html>